.Categoria{ 
      font-size: 30px;
      position: relative;
      left: 20px;
}

nav{
      border: black 5px solid;
      border-radius: 10px;
      width: 200px;
      height: 1000px;
      font-size: 25px;
       margin: 10px;
}

.promo{
   position: absolute;
   top: 260px;
   right: 21%;
   background-color: grey;
   padding: 10px 350px 10px 350px;
}

.Item_4{
      position: absolute;
      top: 800px;
      right: 350px;

}

.Item_3{
      position: absolute;
      top: 800px;
      right: 750px;

}
.Item_2{
      position: absolute;
      top: 800px;
      right: 1250px;

}
.Item_1{
      position: absolute;
      top: 815px;
      left: 550px;

}

footer{
      padding: 120px;
      border-top: black 5px solid;
      background-color: darkgray;
      
}